body {
    background-color:gray;
    display: flex;
    justify-content: center;
    margin: 0 0;
}

.white-bg {
    background-color: white;
    width: 20%;
    height: 30%;
}

h1 {
    display: flex;
    justify-content: center;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    
}

p {
    position: relative;
    top: -15px;
}

.top-right {
    position: fixed;
    top: 0px;
    right: 0px;
}

.top-left {
    position: fixed;
    top: 0px;
    left: 0px;
}
.bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.bottom-left {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.middle-column {

    height: 100vh;
    width: 40%;
    
}

.rectangles {
    width: 100%;
    height: 150px;
    position: relative;
}

.light-green {
    background-color: lightgreen;
    right: 40px;
    top: 5px;
}

.purple {
    background-color: purple;
    left: 40px;
    top: 40px;
}

.orange {
    background-color: orangered;
    top: 100px;
}

.dark-green {
    background-color: green;
    left: 40px;
    top: 50px;
}